@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
}

@layer base {
  html {
    @apply font-roboto-slab;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
